@charset "UTF-8";

/*
    em HTML é id e em CSS é #(cerquilha/hashtag) (id só pode um elemento)
    m HTML é class em CSS é .(ponto)(class pode varios elementos)
*/

body{
    background-color: #f8e7b0;
    font-family: Arial, Helvetica, sans-serif;
}
H1{
    color: #967F33;
}

H1#principal{
    text-align: center;
    background:#52461C;
    color: white;
}
H2{
    color: #DAB94A;
}
.basico{
    color: green;
    

}
.intermediario{
    color: yellow

}
.avancado{
    color: red;
   

}
.destaque{
    background-color: #dab84a67;
}