@charset "UTF-8";

/*Estilo para telas*/

* {
    margin: 0PX;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: lightpink;
    font-family: fantasy;
}

header > h1 {
    text-align: center;
}

menu > ul {
    list-style-type: none;
    background-color: green;
}

menu li {
    display: inline-block;
    padding: 10px;
    background-color: rgb(39, 82, 39);
}

article {
    width: 600px;
    margin: auto;
    display: block;
}