@charset "UTF-8";

/*Todas as demais midias*/

/*Typical Device Breakpoints
--------------------------------------------
Pequenas tela : até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px té 1200px
Grandes telas: acima de 1200px



*/

@media print {
    * {
        font-family: 'Courier New', Courier, monospace;   
    }

    body {
        color: black;   
    }

    main {
        width: 90vw;
        border: 2px solid black;

    }
    main::after {
        content: 'Esta impressao foi feita através do site www.curso.......com.br';
        text-decoration: overline;
    }

    main h1 {
        color: black;
        text-shadow: none;
    }
    #phone, #tablet, #print, #pc, #tv {
        display: none;
    }

    #print {
        display: block;
    }


}
/*Tablet*/
@media screen and (min-width:481px) and (max-width:768px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    #phone, #tablet, #print, #pc, #tv {
        display: none;
    }
    #tablet {
        display: block;
    }
}
/*Desktop*/
@media screen and (min-width:769px) and (max-width:1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg)
    }
    #phone, #tablet, #print, #tv {
        display: none;
    }

    #pc {
        display: block;
    }
}
/*Telas grandes*/
@media screen and (min-width:1201px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    #phone, #tablet, #print, #pc, #tv {
        display: none;
    }

    #tv {
        display:block;
    }
}
